<% provide(:title, "Help") %>
<div class="content-template">
    <h2>Help</h2>

    <p>
        本ページは、Ruby on Railsをベースに作成され、AtCoder ProblemsのAPIを用いています。
    </p>
    <p>
        <a href="https://github.com/Nakka0925">Nakka0925</a>が主催であり、
        <a href="https://github.com/uip-kleh">uip-kleh</a>が共同で制作いたしました。
        不明点や改善点に関しましては、いずれかに連絡してください。
    </p>

</div>
