<% provide(:title, "Help") %>
<div class="content-template">
    <h2>Help</h2>

    <article>
        GetCoderは、AtCoder ProblemsのAPIをベースにして、Ruby on Railsで作成されているため、
        AtCoder Problemsと同様の機能を備えていますが、GetCoderでは以下のような機能を追加で提供しています。

        <ul class="itemize-template">
            <li>レベルを選択することで、ランダムな問題を提案する</li>
            <li>アルゴリズムを選択することで、対応した問題の一覧を提案する</li>
        </ul>

        以上の機能により、問題にスムースにアクセスすることができ、日々の精進をサポートできればと考えています。
        また、ログインをしなくても、Home機能をご利用するすことができます。
    </article>

</div>
