<% provide(:title, "Problems") %>

<div class="content-template">
    <h2>Problems(ABC)</h2>
    <table class="table table-template">
            <% @contestId.to_a.reverse.each do |arry| %>
                <% contestName = [@contestUrl, arry[0]].join('/') %>
                <% contestTask = [contestName, 'tasks', arry[0]].join('/') %>
                <tr>
                    <% if arry[0].include?("abc") %>
                        <td><%= link_to arry[0], contestName, target: "_blank"%></td>
                        <% arry[1].each do |v| %>
                            <% contestTaskUrl = [contestTask, v.downcase].join('_') %>
                            <% algoId = @contestIdToAlgo[[arry[0], v.downcase].join('_')] %>
                            <td>
                                <%= link_to @contestIdTitle[arry[0]][v], contestTaskUrl, target: "_blank" %><br>
                                <% if algoId.present? %>
                                    <% algoId.each do |id| %>
                                        <%= @idToAlgoname[id] %>
                                    <% end %>
                                <% end %>
                            </td>
                        <% end %>
                    <% end %>
                </tr>
            <% end %>
    </table>
</div>
