@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-size: 16px;
    text-align: 1.7;
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    color: black;
    padding-top: 100px;
}

// header

.header-title {
    color: white;
}

.header-title:hover {
    text-decoration: none;
    color: #dcdcdc;
}

input {
    height: auto !important;
}

// body
.content-template {
    color: black;
}

.itemize-template {
    margin: 20px auto;
}

    // form

article {
    padding: 10px;
    border-top: 1px solid #dcdcdc;
}

.form-template {
    padding: 20px;
    border-top: 1px solid #dcdcdc ;
    border-bottom: 1px solid #dcdcdc ;
}

.form-item {
    margin: 10px auto;
}

.form-footer li {
    margin-top: 20px;
    list-style: none;
}

.teble-template {
    width: 100%;
    table-layout: fixed;
}

.table-template td {
    vertical-align: center;
    // border: 1px solid black;
}

// footer
footer {
    max-width: 100%;
    color: white;
}

footer a {
    color: white
}

footer a:hover {
    color: #dcdcdc;
}

.footer-itemize {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-rows: 200px 300px;
    // border-top: 1px solid #dcdcdc;
    background-color: #696969;
}

.item {
    padding: 40px;
    // border: 1px solid #dcdcdc;
}

.item h5 {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid orange;
}

.item-itemize li {
    list-style: none;
}

/* ドロップダウンメニューのスタイル */
.select-wrapper {
    width: 200px; /* ドロップダウンメニューの幅 */
    position: relative;
}

/* ドロップダウンメニューのスタイル */
.select-wrapper select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
}

/* ドロップダウンアイコンのスタイル */
.select-wrapper:after {
    content: "\25BC"; /* ▼のUnicode文字 */
    font-size: 20px;
    color: #333;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* ドロップダウンメニューのホバーエフェクト */
.select-wrapper:hover select {
    border-color: #555;
}

.select-wrapper select:active,
.select-wrapper select:focus {
    outline: none;
    border-color: #3498db;
    box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
}

.footer-bar {
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}
