@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 100px; }

// header

.header-title {
    color: white;
}

.header-title:hover {
    text-decoration: none;
    color: #dcdcdc;
}

input {
    height: auto !important;
}

// body
.content-template {
    color: black;
}

    // form
.form-template {
    padding: 20px;
    border-top: 1px solid #dcdcdc ;
    border-bottom: 1px solid #dcdcdc ;
}

.form-item {
    margin: 10px auto;
}

.form-footer li {
    margin-top: 20px;
    list-style: none;
}
