@import "bootstrap-sprockets";
@import "bootstrap";

body {
    color: black;
    // margin-top: 80px;
}

li {
    list-style: none;
}

// header
.header-link {
    color: white;
}
.header-link:hover {
    color: #dcdcdc;
    text-decoration: none;
}

// content
.container-bg {
    // height: 100vh;
    padding: 20px;
    background-color: white;
    display: block;
}
.content {
    padding-top: 100px;
}

.content h2 {
    // border-bottom: 1px solid #a9a9a9;
    margin: 20px auto;
}

.form-template {
    padding: 20px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

.form-block {
    margin-top: 20px;
}

.list-template {
    margin-top: 20px;
}

// footer
.footer {
    padding-top: 20px;
}

.footer a {
    color: black;
    text-decoration: none;
}

.footer a:hover {
    color: gray;
}

.footer nav {
    border-top: 1px solid black;
}

// background
.big-bg {
    height: 100vh;
    background-color: #dcdcdc  ;
}
