<footer>
    <div class="footer-itemize">
        <div class="item">
        </div>
        <div class="item">
            <h5>便利リンク</h5>
            <ul class="item-itemize">
                <li><a href="https://atcoder.jp">AtCoder</a></li>
                <li><a href="https://atcoder.jp/contests/APG4b">AtCoder APG4b</a></li>
                <li><a href="https://kenkoooo.com/atcoder/#/table/">AtCoder Problems</a></li>
                <li><a href="https://hello-world-494ec.firebaseapp.com/">GRAPH X GRAPH</a></li>
            </ul>
        </div>
        <div class="item">
            <h5>お問い合わせ</h5>
            <ul class="item-itemize">
                <p>
                    不明点や改善点に関しましては、いずれかに連絡してください。
                <p>
                <li>Nakka0925</li>
                <ul>
                    <li><a href="https://github.com/Nakka0925">Github</a></li>
                    <li>h23ms413@hirosaki-u.ac.jp</li>
                </ul>
                <li>uip-kleh</li>
                <ul>
                    <li><a href="https://github.com/uip-kleh">Github</a></li>
                    <li>h23ms416@hirosaki-u.ac.jp</li>
                </ul>
            <ul>
        </div>
    </div>
    <div class="footer-bar">
        <p><small>&copy;</small>GetCoder</p>
    </div>
</footer>
