<footer class="footer container">
  <nav>
    <ul>
      <li><a href="https://atcoder.jp/?lang=ja">AtCoder</a></li>
      <li><a href="https://kenkoooo.com/atcoder">AtCoder Problems</a></li>
    </ul>
  </nav>
</footer>
